
Hello Potato.xcodeproj/project.xcworkspace/contents.xcworkspacedata

*.xcscheme

*.xcuserstate

Hello Potato.xcodeproj/xcuserdata/klinh.xcuserdatad/xcschemes/xcschememanagement.plist
build
Pods
Podfile.lock
contents.xcworkspacedata
